@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");

.header-box {
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center; //needed to avoid child button height change
  border-bottom: 1px solid #dbdbdb;

  &__brand {
    color: #393939;
    font-size: 18px;
  }
  &__button-pill-menu {
    box-sizing: border-box;
    padding: 5px 20px;
    width: 28vw;
    max-width: 150px;
    min-width: 115px;
    border-radius: 5px;

    text-decoration: none;
    font-size: 16px;
    color: #393939;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;

    cursor: pointer;
  }
}
